mixin displayData(course)
	h3 #{course.lec} - #{course.fac}
	table
		tr
			th Type
			th Section
			th Days
			th Start
			th End
			th Building
			th Room
			th Status
		each row in course.data
			tr
				td #{row.type}
				td #{row.section}
				td #{row.days}
				td #{row.start}
				td #{row.end}
				td #{row.building}
				td #{row.room}
				if row.status == 'Closed'
					td(style='color:red') #{row.status}
				else if row.status == 'Open'
					td(style='color:green') #{row.status}
				else if row.status == 'W-List'
					td(style='color:purple') #{row.status}
				else
					td #{row.status}


div(data-role='page', data-theme='b')
	include includes/header

	div(data-role='content')
		//!{course}

		div(data-role='collapsible-set')
			each course in courses
				if course.lec.search('1') >= 0
					div(data-role='collapsible', data-collapsed='false')
						mixin displayData(course)
				else
					div(data-role='collapsible')
						mixin displayData(course)
						
						
		a(data-role='button', data-direction='reverse', data-prefetch, href='listClasses?term=#{term}&subject=#{subject}') Back

	include includes/footer
