div(data-role='page', data-theme='b')
	include includes/header

	div(data-role='content')
		!{html}

		a(data-role='button', data-direction='reverse', data-prefetch, href='/viewCourse?term=#{term}&subject=#{subject}&course=#{course}&courseTitle=#{header.replace(/^[^-]*- /g, '').replace(/\s/g, '+')}') Back

	include includes/footer
